/* to enable userChrome.css, toolkit.legacyUserProfileCustomizations.stylesheets in about:config */

#TabsToolbar, .tabbrowser-tab {
	max-height: 25px !important;
  	margin-left: 0 !important;
  	margin-right: 0 !important;}

image[consumeanchor="PanelUI-button"], #back-button, #forward-button, #page-action-buttons, #tracking-protection-icon-container {
    display:none !important;
    max-height: 0 !important;
    max-width: 0px !important;
}
.toolbarbutton-badge-stack, #PanelUI-menu-button {
  padding: 0 !important;
  max-width: 0 !important;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 100% !important;
}

.tabbrowser-tab[pinned] {
  position: relative !important;
}

:root {
  --toolbar-bgcolor: #222 !important;
  --lwt-accent-color: #222 !important;
}
#tabbrowser-tabs {
  --tab-line-color: #ffffff !important;
  padding-inline-start: 0 !important;
}
